MQTT_SERVER=homeassistant.local
MQTT_PORT=1883
MQTT_USERNAME=your_username
MQTT_PASSWORD=your_password
MQTT_TARGET_TOPIC=beer/quantity
MQTT_TOTAL_WEIGHT_TOPIC=beer/total_weight
MQTT_TARE_WEIGHT_TOPIC=beer/tare_weight
